.container {
  width: 100%;
  max-width: 100rem;
  margin: auto;
}

.board {
  display: flex;
  flex-direction: column-reverse;
  width: 40rem;
  height: 40rem;
  margin: auto;
}

.row {
  display: flex;
}

.col-sm-full {
  flex-basis: 100%;
}

.board-row {
  flex-basis: calc(100% / 8);
}

.tile {
  width: calc(100% / 8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  text-align: center;
}
