* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: aquamarine;
}

.board {
  border: 2px solid black;
}

.black-tile {
  background-color: tan;
}

.white-tile {
  background-color: beige;
}

.chess-piece {
  width: 60%;
  height: 60%;
}
